/.vs/Hardy
/Hardy.Common/bin/Debug/netstandard2.0
/Hardy.Common/obj
/Hardy.WebApi/bin/Debug/netcoreapp2.2
/Hardy.WebApi/obj
/Hardy.Application/obj
/Hardy.Common/bin
/Hardy.Gateways/obj
/Hardy.Gateways/Hardy.Gateways.csproj.user
/Hardy.WebApi/bin/Release/netcoreapp2.2
